@root-entry-name: 'default';
@import (reference) '~antd/es/style/themes/index.less';
@import (reference) '~antd/es/style/mixins/index.less';

@dslate-prefix-cls: ~'@{ant-prefix}-dslate';

.@{dslate-prefix-cls} {
  &-container {
    border: 1px solid @border-color-base;
    border-radius: @border-radius-base;
  }

  &-editbale {
    padding: @input-padding-vertical-base @input-padding-horizontal-base;
    color: @input-color;
    font-size: @font-size-base;
    line-height: @line-height-base;

    *::selection {
      color: inherit !important;
      background-color: hsla(@primary-color, 50%);
    }

    div[role='textbox'] {
      min-height: @input-height-base * 10;
    }
  }
}
